# SmartRetailX Catalog Service - Environment Template
SERVICE_NAME=smartretailx-catalog-service
PORT=8002
DATABASE_URL=postgresql://catalog_admin:catalog_password@catalog_db:5432/catalog_db
ENVIRONMENT=development
