# SmartRetailX Inventory Service - Environment Template
SERVICE_NAME=smartretailx-inventory-service
PORT=8003
DATABASE_URL=postgresql://inventory_admin:inventory_password@inventory_db:5432/inventory_db
KAFKA_BOOTSTRAP_SERVERS=redpanda:29092
ENVIRONMENT=development
