# SmartRetailX User Service - Environment Template
SERVICE_NAME=smartretailx-user-service
PORT=8001
DATABASE_URL=postgresql://user_admin:user_password@user_db:5432/user_db
SECRET_KEY=CHANGE_THIS_TO_SECURE_RANDOM_SECRET_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ENVIRONMENT=development
