# SmartRetailX Payment Service - Environment Template
SERVICE_NAME=smartretailx-payment-service
PORT=8004
DATABASE_URL=postgresql://payment_admin:payment_password@payment_db:5432/payment_db
KAFKA_BOOTSTRAP_SERVERS=redpanda:29092
ENVIRONMENT=development
